<div class="container p-4">
    <div class="row">
        {{#each LINKS}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <p class="m-2"> {{id}}</p>
                        <p class="m-2"> {{name}}</p>
                        <p class="m-2"> {{salary}}</p>
                        <a href="/links/delete/{{id}}" class="btn btn-danger" >Borrar</a>
                        <a href="/links/edit/{{id}}" class="btn btn-secondary">Editar</a>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No hay registros en La Tabla</p>
                    <a href="/links/add">Crear un empleado</a>
                </div>
            </div>
        {{/each}}

    </div>
</div>